
<!-- <div class=" align-items-center  justify-content-center align-items-center h-100"> -->
    <form class="d-flex flex-column g-5" #ngform="ngForm"(ngSubmit)="onSubmit()"ng-controller="ctrl" >
        <div class="form-group needs-validation">
        <label for="">Full Name</label>
        <input class="form-control" type="text" name="name" required #ngname="ngModel" [(ngModel)]="name"  placeholder="write full name..">
        <br>
        </div>
         <div class="form-group needs-validation">
        <label for="">Address</label>
        <input class="form-control" type="text" name="address" required  [(ngModel)]="address" placeholder="write address..">
        <br>
        </div>
        <div class="form-group needs-validation">
        <label  for="">Credit Card</label>
        <input class="form-control" type="number" name="card" required  [(ngModel)]="card" placeholder="write acredit card">
        <br>
        </div>
        <button type="submit" [disabled]="ngform.invalid"  [routerLink]="['/confirm']" class="btn btn-info text-white">plase order</button>
    </form>

<div *ngIf="ngname.invalid">

</div>
